/*==============================
Banner Section
================================*/

.banner-sec {
  background: url("../assets/properties/banner-bg-img.png") no-repeat
    center/cover;
}
.banner-sec .title-1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}

/*==============================
Banner Responsive
================================*/

@media screen and (max-width: 768px) {
  .banner-sec .title-1 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .banner-sec .title-1 {
    margin-bottom: 25px;
  }
  .banner-sec .navigation li::before {
    left: -14px;
    top: 14px;
  }
  .banner-sec .navigation li {
    text-align: center;
  }
  .banner-sec .navigation button {
    padding: 0;
  }
  .banner-sec .navigation {
    gap: 30px;
  }
}

/*==============================
Properties List Section
================================*/

.properties-list-sec {
  padding: 60px 0;
}
.properties-list-sec .search-box-wrapper {
  max-width: 227px;
  margin-left: auto;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  padding: 15px;
}
.properties-list-sec .properties-list-top-bar {
  margin-bottom: 50px;
}
.properties-list-sec #properties-search {
  background: transparent;
  border: none;
  color: var(--primary-color);
  outline: none;
  font-size: 15px;
  padding: 0;
  width: 100%;
}
.properties-list-sec #properties-search::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}
.properties-list-sec #properties-search::-webkit-search-cancel-button {
  display: none;
}
.properties-list-sec button {
  background: transparent;
  border: none;
  padding: 0;
}
.properties-list-sec .filter-icon {
  margin-left: 20px;
}
.properties-list-sec .reset-btn {
  background: transparent;
  outline: none;
  border: none;
  opacity: 0;
  color: var(--primary-color);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-self: center;
  transition: 0.5s ease;
  cursor: default;
}
.properties-list-sec .reset-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.properties-list-sec .reset-bar {
  display: block;
  width: 100%;
  background-color: var(--primary-color);
  height: 1px;
  transition: 0.3s ease;
}
.properties-list-sec .reset-btn.show {
  opacity: 1;
  cursor: pointer;
}
.properties-list-sec .reset-btn.show > .reset-bar.bar-1 {
  transform: rotate(45deg) translateY(0);
}
.properties-list-sec .reset-btn.show > .reset-bar.bar-2 {
  transform: rotate(-45deg) translateY(0);
}
.properties-list-sec .reset-bar.bar-1 {
  transform: translateY(34px);
  transition: 1s ease;
}
.properties-list-sec .reset-bar.bar-2 {
  transform: translateY(34px);
  transition: 1s ease;
}
.properties-list-sec .card-wrapper {
  padding: 10px 10px 40px;
  border: 1px solid var(--text-gray);
  background: var(--bg-black);
}
.properties-list-sec .col-xl-9 .card-wrapper .property-type {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background: var(--primary-color);
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}
.properties-list-sec .card-img {
  margin-bottom: 15px;
}
.properties-list-sec .card-content {
  text-align: center;
}
.properties-list-sec .card-content .place-name {
  color: var(--secondary-color);
  font-size: 16px;
  margin-bottom: 10px;
  font-family: var(--aeonik-bold), sans-serif;
}
.properties-list-sec .card-content .appartment-details {
  font-size: 16px;
  color: var(--primary-color);
}
.properties-list-sec .card-content .title-desc {
  margin: 5px auto 10px;
  font-size: 11px;
  max-width: 215px;
}
.properties-list-sec .card-content .price {
  color: var(--secondary-color);
  font-size: 16px;
  margin-bottom: 25px;
}
.properties-list-sec .card-content .card-btn {
  padding: 10px 20px;
  border: 1px solid var(--text-gray);
  transition: 0.4s linear;
}
.properties-list-sec .card-content .card-btn:hover {
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
}
.properties-list-sec .card-content .card-btn > span {
  font-size: 15px;
  color: var(--primary-color);
  text-transform: uppercase;
  transition: 0.4s linear;
}
.properties-list-sec .card-content .card-btn:hover > span {
  color: var(--bg-black);
}
.properties-list-sec .search-part {
  padding: 10px 0 40px;
}
.properties-list-sec h4 {
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: var(--primary-color);
}
.properties-list-sec .search-part h4 {
  color: var(--secondary-color);
  margin-left: 5px;
}
.properties-list-sec .search-box-wrapper-sm {
  padding: 15px 20px 15px 15px;
  margin-left: 0;
  max-width: none;
}
.properties-list-sec .col-3-part {
  padding: 50px 0;
  position: relative;
}
.properties-list-sec .col-3-part::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}
.properties-list-sec .properties-list > li {
  margin-bottom: 12px;
}
.properties-list-sec .properties-list > li:last-child {
  margin-bottom: 0;
}
.properties-list-sec .property-type {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
}
.properties-list-sec .property-type > div {
  transition: 0.6s ease;
}
.properties-list-sec .property-type path {
  transition: 0.6s ease;
}
.properties-list-sec .property-type:hover > div {
  color: var(--secondary-color);
}
.properties-list-sec .property-type:hover path {
  fill: var(--secondary-color);
}
.properties-list-sec .price-range-part h4 {
  margin-bottom: 50px;
}
.properties-list-sec .price-range-part #price-range,
.properties-list-sec .price-range-part #price-range2 {
  width: 100%;
  outline: none;
  height: 2px;
  border-radius: 50%;
  accent-color: var(--secondary-color);
  background: rgba(255, 255, 255, 0.7);
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 15px;
}
.properties-list-sec .price-display {
  color: var(--primary-color);
}
.properties-list-sec #price-value,
.properties-list-sec #price-value2 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 100;
}
.properties-list-sec .filter-btn {
  display: block;
  color: var(--secondary-color);
  text-transform: uppercase;
  width: fit-content;
  margin-left: auto;
}
.properties-list-sec .price-status-part .property-status-card {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}
.properties-list-sec .property-status-card .property-img {
  width: 85px;
  height: 100px;
}
.properties-list-sec .property-status-card .property-status-content {
  font-size: 20px;
  text-transform: capitalize;
}
.properties-list-sec
  .property-status-card
  .property-status-content
  .property-status {
  color: var(--primary-color);
}
.properties-list-sec
  .property-status-card
  .property-status-content
  .property-price {
  color: var(--secondary-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.properties-list-sec .location-list li,
.properties-list-sec .aminities-list li {
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.properties-list-sec
  .location-list
  input[type="checkbox"]:checked
  ~ .location-box,
.properties-list-sec
  .aminities-list
  input[type="checkbox"]:checked
  ~ .aminities-box {
  background: var(--secondary-color);
}
.properties-list-sec .location-list .location-box,
.properties-list-sec .aminities-list .aminities-box {
  height: 20px;
  width: 20px;
  border: 1px solid var(--primary-color);
  transition: 0.6s ease;
  margin-right: 20px;
}
.properties-list-sec
  .location-list
  input[type="checkbox"]:checked
  ~ .location-name,
.properties-list-sec
  .aminities-list
  input[type="checkbox"]:checked
  ~ .aminities-name {
  color: var(--secondary-color);
}
.properties-list-sec .location-list .location-name,
.properties-list-sec .aminities-list .aminities-name {
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
}
.properties-list-sec .page-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 25px;
}
.properties-list-sec .page-btn {
  height: 48px;
  width: 48px;
  background: black;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: none;
  transition: 0.3s ease;
}
.properties-list-sec .page-btn:hover {
  background: var(--secondary-color);
  color: black;
}
.properties-list-sec .page-btn.active-btn {
  background: var(--secondary-color);
  color: black;
}
.properties-list-sec .page-next-btn,
.properties-list-sec .page-prev-btn {
  color: var(--primary-color);
  font-size: 20px;
  transition: 0.6s ease;
}
.properties-list-sec .page-next-btn:hover,
.properties-list-sec .page-prev-btn:hover {
  color: var(--secondary-color);
}
.properties-list-sec .page-btn.show {
  display: block !important;
}
.properties-list-sec .page-next-btn.hide,
.properties-list-sec .page-prev-btn.hide {
  display: none;
}
.properties-list-sec .properties-toggler {
  width: 20px;
  height: 14px;
}
.properties-list-sec .properties-toggler:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  transition: 0.6s ease;
}
.properties-list-sec .properties-toggler.show:before {
  transform: rotate(-45deg) translate(-5px, 5px);
  background: var(--secondary-color);
}
.properties-list-sec .properties-toggler:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  transition: 0.6s ease;
}
.properties-list-sec .properties-toggler.show:after {
  transform: rotate(45deg) translate(-5px, -4px);
  background: var(--secondary-color);
}

.properties-list-sec .properties-toggler > span {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  transition: 0.6s ease;
}
.properties-list-sec .properties-toggler.show > span {
  opacity: 0;
}
.properties-list-sec .section-element-1 {
  position: absolute;
  width: 163px;
  z-index: -1;
}
.properties-list-sec .section-element-2 {
  position: absolute;
  width: 357px;
  z-index: -1;
}
.properties-list-sec .section-element-1.element-1 {
  left: 0;
  top: 20%;
}
.properties-list-sec .section-element-1.element-2 {
  left: 76px;
  top: 65%;
}
.properties-list-sec .section-element-1.element-3 {
  right: 0;
  top: 90%;
}
.properties-list-sec .section-element-2.element-1 {
  right: 0;
  top: 55%;
  transform: translateX(40%);
}

/*==============================
Properties List Section Responsive
================================*/

@media screen and (max-width: 1400px) {
  .properties-list-sec .card-content .card-btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .properties-list-sec .card-wrapper {
    height: 550px;
  }
}
@media screen and (max-width: 1200px) {
  .properties-list-sec .card-content .card-btn {
    position: static;
    transform: translateX(0);
  }
  .properties-list-sec .card-wrapper {
    height: fit-content;
  }
  .properties-list-sec .properties-menu-sm {
    top: -1px;
    background: var(--bg-black);
    max-width: 320px;
    transform: translateX(102%);
    transition: 1s ease;
    position: relative;
  }
  .properties-list-sec .properties-menu-sm::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.7);
  }
  .properties-list-sec .price-status-part {
    display: none;
  }
  .properties-list-sec .properties-menu-sm.slide {
    transform: translateX(0);
  }
  .properties-list-sec .filter-aminities::after {
    display: none;
  }
  .properties-list-sec .properties-menu-sm .col-3-part {
    padding: 30px 0;
  }
  .properties-list-sec .price-range-part h4 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  .properties-list-sec .card-wrapper {
    width: fit-content;
    margin: auto;
  }
  .properties-list-sec .card-wrapper .card-img {
    max-width: 330px;
    margin: 0 auto 15px;
  }
  .properties-list-sec .filter-icon-1 {
    margin-left: auto;
  }
}
@media screen and (max-width: 576px) {
  .properties-list-sec {
    padding: 45px 0;
  }
  .properties-list-sec .title-2 {
    width: 100%;
  }
  .properties-list-sec .card-wrapper {
    padding: 10px 10px 30px;
  }
  .properties-list-sec .card-wrapper .card-img {
    margin: 0 auto 15px;
  }
  .properties-list-sec .card-content .appartment-details {
    font-size: 14px;
  }
  .properties-list-sec .col-xl-9 .card-wrapper .property-type {
    padding: 3px 6px;
    font-size: 12px;
  }
  .properties-list-sec .card-content .card-btn > span {
    font-size: 14px;
  }
  .properties-list-sec .card-content .card-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding: 5px 10px;
  }
  .properties-list-sec .page-btns {
    margin-top: 40px;
  }
  .properties-list-sec .page-btn {
    height: 40px;
    width: 40px;
  }
  .properties-list-sec .page-next-btn,
  .properties-list-sec .page-prev-btn {
    font-size: 18px;
  }
  .properties-list-sec .page-btns {
    gap: 15px;
  }
  .properties-list-sec h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .properties-list-sec .search-box-wrapper-sm {
    padding: 5px 15px 5px 10px;
    margin-left: 0;
    max-width: 200px;
  }
  .properties-list-sec #properties-search {
    font-size: 14px;
  }
  .properties-list-sec #properties-search::placeholder {
    font-size: 14px;
  }
  .properties-list-sec .search-part {
    padding-top: 0 !important;
  }
  .properties-list-sec .property-type {
    font-size: 14px;
  }
  .properties-list-sec .price-range-part h4 {
    margin-bottom: 15px;
  }
  .properties-list-sec .location-name,
  .properties-list-sec .aminities-name {
    font-size: 14px;
  }
  .properties-list-sec .location-list .location-box,
  .properties-list-sec .aminities-list .aminities-box {
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
  .properties-list-sec .section-element-1 {
    width: 90px;
  }
  .properties-list-sec .section-element-2 {
    width: 150px;
  }
}
@media screen and (max-width: 399px) {
  .properties-list-sec .filter-icon {
    transform: translateY(-30px);
  }
  .properties-list-sec .properties-list-top-bar {
    margin-bottom: 25px;
  }
}
