/*==============================
Banner Section
================================*/

.banner-sec {
  background: url("../assets/property-details/banner-bg-img.png") no-repeat
    center/cover;
  min-height: 50vh;
  padding-top: 220px;
}
.banner-sec .title-1 {
  display: none;
}
.banner-sec .navigation li {
  font-size: 30px;
}

/*==============================
Banner Section Responsive
================================*/

@media screen and (max-width: 768px) {
  .banner-sec .navigation li {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .banner-sec {
    padding-top: 200px;
  }
  .banner-sec .navigation li::before {
    left: -14px;
    top: 14px;
  }
  .banner-sec .navigation li {
    text-align: center;
  }
  .banner-sec .navigation button {
    padding: 0;
  }
  .banner-sec .navigation li {
    font-size: 22px;
    margin-left: 30px;
  }
  .banner-sec .navigation li::before {
    transform: translate(-50%, -25%);
  }
}

/*==============================
Skyline Section
================================*/

.skyline-sec {
  padding: 60px 0;
  position: relative;
}
.skyline-sec::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1350px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.skyline-sec .title-2 {
  text-transform: capitalize;
  margin: 10px 0;
}
.skyline-sec .apartment-details {
  font-size: 20px;
  color: var(--secondary-color);
}
.skyline-sec .map-link {
  color: var(--primary-color);
  font-size: 12px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin-bottom: 20px;
}
.skyline-sec .apartment-info {
  max-width: 400px;
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
  margin-left: 20px;
}
.skyline-sec .apartment-info-card {
  margin-bottom: 25px;
  width: fit-content;
}
.skyline-sec .apartment-info .apartment-feature {
  font-size: 20px;
  margin-top: 15px;
  color: var(--primary-color);
}
.skyline-sec .apartment-info .feature-desc {
  font-size: 15px;
  color: var(--text-gray);
}
.skyline-sec .design-element-1 {
  width: 163px;
  position: absolute;
  top: 40%;
  left: 33px;
  z-index: -1;
}
.skyline-sec .design-element-2 {
  width: 357px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(20%);
  z-index: -1;
}

/*==============================
Skyline Section Responsive
================================*/

@media screen and (max-width: 1200px) {
  .skyline-sec .title-2 {
    margin: 30px 0 10px;
  }
  .skyline-sec .skyline-img {
    max-width: 500px;
    margin: auto;
  }
  .skyline-sec .title-desc {
    max-width: 800px;
  }
  .skyline-sec .apartment-info {
    max-width: 830px;
  }
}
@media screen and (max-width: 992px) {
  .skyline-sec .design-element-2 {
    width: 250px;
  }
  .skyline-sec .design-element-1 {
    width: 130px;
  }
}
@media screen and (max-width: 768px) {
  .skyline-sec .skyline-img {
    max-width: 400px;
  }
  .skyline-sec .design-element-1 {
    top: 33%;
    left: 10px;
  }
  .skyline-sec .design-element-2 {
    width: 200px;
  }
}
@media screen and (max-width: 576px) {
  .skyline-sec {
    padding: 45px 0;
  }
  .skyline-sec .apartment-details {
    font-size: 16px;
  }
  .skyline-sec .apartment-info {
    margin: 60px 0 40px;
  }
  .skyline-sec .apartment-info .apartment-feature {
    font-size: 16px;
  }
  .skyline-sec .apartment-info .feature-desc {
    font-size: 14px;
  }
  .skyline-sec .apartment-info {
    margin: 40px 0 30px;
  }
  .skyline-sec .design-element-1 {
    top: 23%;
    left: 0px;
    width: 90px;
  }
  .skyline-sec .design-element-2 {
    width: 150px;
    top: 43%;
  }
}

/*==============================
Location Section
================================*/

.location-sec {
  padding: 60px 0;
  position: relative;
}
.location-sec::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1350px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.location-sec .location-top-bar {
  margin-bottom: 40px;
}
.location-title {
  font-size: 35px;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 12px;
}
.location-sec .location {
  font-size: 16px;
  color: var(--primary-color);
  text-transform: capitalize;
}
.location-sec .view-more-btn {
  font-size: 15px;
  color: var(--primary-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  text-transform: uppercase;
  transition: 0.6s ease;
}
.location-sec .view-more-btn:hover {
  color: rgba(246, 197, 87, 0.5);
}
.location-sec .view-more-btn path {
  transition: 0.6s ease;
}
.location-sec .view-more-btn:hover path {
  fill: rgba(246, 197, 87, 0.5);
}
.location-sec .swiper-slide {
  width: auto;
  white-space: nowrap;
  flex-shrink: 0;
}
.location-sec .swiper-btn {
  background: transparent;
  padding: 15px 30px 15px 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 20px;
  color: var(--primary-color);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: 0.6s ease;
}
.location-sec .swiper-btn path {
  transition: 0.6s ease;
}
.location-sec .swiper-btn:hover {
  color: var(--bg-black);
  background: var(--primary-color);
}
.location-sec .swiper-btn:hover path {
  fill: var(--bg-black);
}
.location-sec .swiper-btn > svg {
  margin-right: 10px;
}

/*==============================
Location Section Responsive
================================*/

@media screen and (max-width: 992px) {
  .location-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .location-sec .swiper-btn {
    font-size: 16px;
  }
  .location-title {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .location-sec {
    padding: 45px 0;
  }
  .location-sec .swiper-btn {
    font-size: 14px;
  }
  .location-sec .swiper-btn {
    padding: 10px 20px 10px 15px;
  }
  .location-sec .view-more-btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 394px) {
  .location-sec .view-more-btn {
    margin-left: 47px;
  }
}

/*==============================
Apartment Features Section
================================*/

.apartment-features-sec {
  padding: 60px 0;
  position: relative;
}
.apartment-features-sec::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1350px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.apartment-features-sec::before {
  content: "";
  position: absolute;
  top: 60%;
  height: 63px;
  width: 163px;
  background: url("../assets/common/section-after.png") no-repeat center/cover;
  right: 0;
  transform: translateX(-70%);
}
.apartment-features-sec .location-title {
  margin-bottom: 30px;
}
.apartment-features-list {
  list-style-type: unset;
  margin-left: 20px;
}
.apartment-features-list > li {
  color: var(--text-gray);
  font-size: 18px;
  margin-bottom: 20px;
}

/*==============================
Apartment Features Section Responsive
================================*/

@media screen and (max-width: 992px) {
  .apartment-features-sec::before {
    height: 50px;
    width: 130px;
    transform: translateX(-15%);
  }
}
@media screen and (max-width: 768px) {
  .apartment-features-sec::before {
    top: 55%;
  }
}
@media screen and (max-width: 576px) {
  .apartment-features-sec {
    padding: 45px 0;
  }
  .apartment-features-list > li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .apartment-features-sec::before {
    height: 35px;
    width: 90px;
    right: -25px;
  }
}

/*==============================
Lifestyle Aminities Section
================================*/

.lifestyle-aminities-sec {
  padding: 60px 0;
  position: relative;
}
.lifestyle-aminities-sec:before {
  content: "";
  position: absolute;
  top: 10px;
  height: 63px;
  width: 163px;
  background: url("../assets/common/section-after.png") no-repeat center/cover;
  left: 0;
}
.lifestyle-aminities-sec .location-title {
  margin-bottom: 30px;
}
.lifestyle-aminities-sec .aminities-card {
  font-size: 20px;
  color: var(--primary-color);
  text-transform: capitalize;
  max-width: 249px;
  margin: auto;
}
.lifestyle-aminities-sec .aminities-card > svg {
  margin-right: 10px;
  flex-shrink: 0;
}

/*==============================
Lifestyle Aminities Section Responsive
================================*/

@media screen and (max-width: 1400px) {
  .lifestyle-aminities-sec:before {
    top: 7%;
  }
}
@media screen and (max-width: 992px) {
  .lifestyle-aminities-sec:before {
    height: 50px;
    width: 130px;
  }
}
@media screen and (max-width: 576px) {
  .lifestyle-aminities-sec {
    padding: 45px 0;
  }
  .lifestyle-aminities-sec .aminities-card {
    max-width: none;
  }
  .lifestyle-aminities-sec .aminities-card {
    font-size: 17px;
  }
  .lifestyle-aminities-sec:before {
    height: 35px;
    width: 90px;
    top: 3%;
  }
}
